.tools__container {
    width: 100%;
    height: 1000px;
    margin-top: 130px;
    position: relative;
    justify-content: center;

    text-align: center;
}

.tools__h2 {
    font-size: 40px;
    opacity: 90%;
}

.tools__h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    opacity: 60%;
}

.tools {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tools__list {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tools__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 31%;
    height: 250px;
    margin: 5px;
    padding: 20px;
    border-radius: 8px;
    transition: all .3s;
    transition: background .3s;
}

.tools__item:hover {
    background-image: url('./img/bg.png');
    border-radius: 8px;
    color: #fff;
    opacity: 100%;
    transition: background .3s;
}

.tools__item:hover .tools__item__content {
    opacity: 100%;
}

.tools__item:hover .footer__right {
    opacity: 100%;
}

.tools__item__top {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.tools__item__title {
    margin-left: 20px;
}

.tools__item__paid {
    position: absolute;
    left: 105px;
    color: #FFA537;
    opacity: 60%;
    margin-top: 10px;
}

.tools__item__content {
    display: flex;
    text-align: left;
    margin-top: 20px;
    opacity: 60%;
}

.tools__item__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer__left {
    position: absolute;
    display: flex;
    width: 70px;
    justify-content: space-between;
}

.like, 
.folder {
    padding: 10px;
    margin: -10px;
    cursor: pointer;
    transition: all .3s;
}

.like {
    padding-bottom: 0;
}

.like:hover,
.folder:hover {
    transform: translateY(-5px);
    border-radius: 8px;
    background: #283036;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer__right {
    position: absolute;
    display: flex;
    width: 105px;
    padding: 10px;
    padding-left: 35px;
    margin-top: -10px;
    border-radius: 8px;
    right: 0;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    opacity: 70%;
    transition: all .3s;
}

.footer__right:hover {
    border-radius: 5px;
    color: #FDF5FF;
    background: #FF6E30;
    opacity: 100%;
}

.loadMore {
    position: absolute;
    width: 150px;
    font-size: 18px;
    color: #FF6E30;
    padding: 10px;
    left: calc(50% - 80px);
    border: 1px solid #fff;
    border-radius: 8px;
    position: absolute;
    bottom: 200px;
    
    transition: all .3s;
}

.loadMore:hover {
    color: #FDF5FF;
    background: #FF6E30;
    border: 1px solid #FF6E30;
    opacity: 100%;
}


