.staff__container {
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 170px;
    position: relative;
    justify-content: space-between;
    text-align: center;
    margin-top: 150px;
}

.slider__left,
.slider__right {
    position: absolute;
    display: flex;
    cursor: pointer;
    top: 100px;
    width: 50px;
    height: 30px;
    top: calc(50% - 50px);
}

.slider__left {
    left: 0;
}

.slider__right {
    right: 0;
}

.staff {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 50px;
    width: 100%;
}

.photo {
    position: relative;
    width: 45%;
    height: 100%;
    background: url("./img/Ronald_Richards.png");
    background-position: 410px 0px;
    background-size: 410px 500px;
}

.namePos {
    position: absolute;
    width: 240px;
    height: 80px;
    bottom: 20px;
    right: 0;
    background: url("./img/bgForName.png") no-repeat;
    background-size: 240px 80px;

    text-align: left;
    align-items: center;
    padding: 0 20px;
}

.fullName {
    display: inline-block;
    margin-top: 10px;
    font-size: 24px;
    opacity: 80%;
}

.post {
    display: inline-block;
    font-size: 16px;
    opacity: 60%;
}

.staff__description {
    width: 55%;
    height: 50%;
    margin-top: 10%;
}

.description__content {
    width: 400px;
    margin-left: calc(50% - 200px);
    text-align: left;
    line-height: 2;
    font-size: 15px;
    opacity: 80%;
}
