.header {
    width: 1000px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 10px;
}

.header__button {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-right: 30px;
}

.header__button__content {
    color: #fff;
    opacity: 80%;
    font-size: 20px;
    margin-left: 5px;
}

.nav {
    width: 400px;
    display: flex;
    padding: 0 10px;
}

.nav__ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__ul:nth-child(2)::after {
    width: 10px;
    height: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 100px solid #fff;
}

.nav__li {
    display: flex;
    opacity: 80%;
    cursor: pointer;
}

.authorization {
    width: 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 30px;
}

.login {
    width: 90px;
    opacity: 80%;
    margin: 0 10px;

    color: #fff;
}

.signUp {
    width: 100px;
    border-radius: 5px;
    color: #FDF5FF;
    background: #FF6E30;
    padding: 10px;
}
