.intro {
    position: relative;
    display: flex;
    top: 50px;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    background: url("./img/intro.png") no-repeat transparent;
    background-position: 500px 60px;
    background-size: 500px 550px;

    line-height: 1.5;
}

.background {
    position: absolute;
    background: url("./img/intro.png") right no-repeat transparent;
    z-index: 1000;
}

.intro__tools {
    width: 500px;
    height: auto;
    align-items: center; 
    position: absolute;
    margin-top: 80px;
}

.intro__title {
    font-size: 45px;
}

.intro__content {
    font-size: 18px;
    opacity: 60%;
    margin-bottom: 50px;
}

.itrno__form {
    width: 400px;
    align-items: center;
    border: transparent;
    border-radius: 10px;
    background: #283036;
}

.intro__label {
    position: relative;
    align-items: center;

    width: 100%;
    border: transparent;
    border-radius: 10px;
    background: #283036;
}

.intro__icon {
    position: absolute;
    left: 12px;
    top: 2px;
    opacity: 50%;
}

.intro__input {
    margin-left: 30px;
    width: 250px;
    font-size: 13px;
    color: #FDF5FF;
    border: transparent;
    border-radius: 10px;
    padding: 18px 15px;
    background: transparent;
}

.intro__input:active, 
.intro__input:hover, 
.intro__input:focus {
    outline: 0;
    outline-offset: 0;
}

.intro__button {
    position: absolute;
    right: -120px;
    margin: 8px;
    width: 100px;
    border-radius: 5px;
    color: #FDF5FF;
    background: #FF6E30;
    padding: 10px;
}

.intro__social {
    margin-top: 170px;
    bottom: 0;
}

.social__icon {
    opacity: 80%;
    margin-right: 40px;
    cursor: pointer;
}
