.footer__container {
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 200px;

    border-top: 1px solid #fff;
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
}

.description,
.contactUs,
.categories,
.companyInfo {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 25px;
}

.copyright {
    font-size: 16px;
    display: inline-block;
    margin-top: 25px;
}

.content {
    font-size: 14px;
    opacity: 60%;
    display: inline-block;
    margin-top: 20px;
    line-height: 1.7;
}

.footer__h2 {
    width: 100%;
    font-size: 20px;
    opacity: 90%;
    font-style: normal;
    margin-bottom: 20px;
}

.tel {
    width: 100%;
    text-decoration: none;
    color: #fff;
    opacity: 60%;
    font-style: normal;
}

.street {
    display: inline-block;
    font-size: 16px;
    opacity: 60%;
    font-style: normal;
    margin: 10px 0;
}

.mail {
    text-decoration: none;
    color: #fff;
    opacity: 60%;
    font-size: 16px;
    font-style: normal;
    margin-top: 10px;
}

.button {
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
    color: #fff;
    opacity: 60%;
    width: 100%;
    display: inline-block;
}
