* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  background: #1E252B;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
